#parte_superior{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#parte_superior a{
  width: 150px;
    text-decoration:none;
    text-align: center;
    padding: 1px 20px;
    display: block;
}
#parte_superior li {
  float:right;
}
.button {
    border: none;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1.4s;
    cursor: pointer;
  }
.button1 {
    background-color: white; 
    color: black;
    border: 2px solid #1bc6ed;
    border-radius: 100px;
}
  .button1:hover {
    background-color: #1bc6ed;
    color: white;
  }
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #1bc6ed;
    border-radius: 100px;
}
  .button2:hover {
    background-color: #1bc6ed;
    color: white;
  }
.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #1bc6ed;
    border-radius: 100px;
}
  .button3:hover {
    background-color: #1bc6ed;
    color: white;
  }
.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #1bc6ed;
  border-radius: 100px;
}
  .button4:hover {
  background-color: #1bc6ed;
  color: white;
  }
body{
  background-color: #04AA6D;
  background-image: image();
  position:relative;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  text-align: center;
  font-size: 50spx;
}
h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:deeppink;
  text-align: center;
}
h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:hotpink;
  text-align: center;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.parte_superior{
}
.titulo{
}
.contenido{
  width: 600px;
  margin:auto;
  text-align: justify;
}
.parte_inferior{
  font-style: italic;
  text-shadow: #1bc6ed;
  text-align:center;
}

.subir{
	display:inline-block;
	padding:20px;
	background:#1bc6ed;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:10px;
	right:10px;
}
.regresar{
	display:inline-block;
	padding:20px;
	background:#1bc6ed;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:50px;
	right:50px;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.parte_inferior{
  background-color: black;
  color: white;
}
.contenido li {
  padding-left: 2rem;
  color: white;
  background-image: url(logotipo.png);
  background-position: 0 0;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}